@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Typography */
  --bg: #2e1a47;
  --primary: #a6a3e0;
}

body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  background: #2e1a47;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

input:is(:active, :focus, :focus-visible, :focus-within) {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
